# macOS
.DS_Store

# Dependencies
node_modules/

# Next.js
.next/
out/
build/
dist/
*.tsbuildinfo

# Storybook
storybook-static/

.claude/

# env
.env.local

.design-sync/sb-reference/
.design-sync/learnings/
.design-sync/.cache/
.design-sync/node_modules
.ds-sync/
ds-bundle/
