# macOS
.DS_Store

# Dependencies
node_modules/

# Next.js
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# Storybook
storybook-static/

.claude/*
!.claude/rules/
!.claude/rules/**
!.claude/docs/
!.claude/docs/**

# env
.env.local

.design-sync/sb-reference/
.design-sync/learnings/
.design-sync/.cache/
.design-sync/node_modules
.ds-sync/
ds-bundle/
