{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "<TYPES>",
    "",
    "^@/(.*)$",
    "^(?!.*\\.css$)[./].*$",
    "\\.css$",
    "<TYPES>^@/(.*)$",
    "<TYPES>^[./]"
  ],
  "importOrderSafeSideEffects": ["\\.css$"],
  "importOrderTypeScriptVersion": "5.0.0"
}
